<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="access_control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <access_control.Properties.Settings>
            <setting name="Comport1" serializeAs="String">
                <value />
            </setting>
            <setting name="Comport2" serializeAs="String">
                <value />
            </setting>
            <setting name="trackBarAzimuth1Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trackBarAzimuth2Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UartFlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trackBarAzimuth1Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trackBarAzimuth2Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udpPort" serializeAs="String">
                <value>54444</value>
            </setting>
            <setting name="SerialSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tagAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="anchorAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="anchorAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccessSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AverageAngle" serializeAs="String">
                <value>16</value>
            </setting>
        </access_control.Properties.Settings>
    </userSettings>
</configuration>
